body {
    margin: 0;
    background-color: #f8f8f8;
    font-family: "Heebo", sans-serif;
    color: #030611;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 80px;
    font-weight: bold;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

#bottom {
    font-weight: bold;
}

body #hero-section {
    height: calc(100vh - (39px + 3rem + 80px));
}

.hero-section .w-100 img {
    margin-top: 2rem;
}

.hero-section .w-100 h1 {
    margin-top: 0;
}

#ready-scan {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

#ready-scan button {
    margin-bottom: 2rem;
}

.show {
    transform: scaleY(1);
}

.hide {
    transform: scaleY(0);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 5;
}
