body {
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: "Heebo", sans-serif;
    color: #030611;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.hero-section {
    display: flex;
    justify-content: center;
}

footer,
.ready-scan {
    background-color: #fff;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    box-shadow: 0px 0px 4px #ccc;
}

footer {
    padding: 2rem 0;
    font-weight: bold;
}

.ready-scan {
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 330px;
    transition: transform 0.5s ease-in-out;
}

.hide {
    transform: translate(0, 333px);
}

.show {
    transform: translate(0, 0);
}

.login {
    margin: 2rem 0;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 5;
}
