body {
    height: 100vh;
    margin: 0;
    background-color: #060a1b;
    font-family: "Heebo", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skip {
    margin: 2rem 0;
}

footer {
    margin: 2rem 0;
}

.t-ScrollBar {
    margin: 1rem 0;
}

.t-ScrollBar__item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0.5rem;
    border-radius: 100%;
    background: #51535f;
    transition: background ease 0.2s;
    cursor: pointer;
}
.t-ScrollBar__item.is-active {
    background: #fff;
}
